<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Create Post</h1>
<a href="/photos">Home</a>


<form action="/photos" method="POST">
*Add Photo Url Here: <input type="text" name="photoUrl"><br>

*Username: <input type="text" name="username"><br>

Caption: <input type="text" name="caption"><br>
<input type="submit" name="" value="Submit">
</form>





<h5>* fields are required</h5>

</body>
</html>