<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/css/main.css">
	<title></title>
</head>
<body>
	<div>
	<h1>Create Post</h1>
<a href="/photos">Home</a>
</div>

<div>
<form action="/photos" method="POST">
<select name="user">
	<%users.forEach(function(user){%>
	<option value="<%=user._id%>"><%=user.name%></option>
	<%})%>
</select>

*Add Photo Url Here: <input type="text" name="photoUrl"><br>
Caption: <input type="text" name="caption"><br>
<input type="submit" name="" value="Submit">
</form>
</div>



<h5>* fields are required</h5>

</body>
</html>