<!DOCTYPE html>
<html>
<head>
	<title>Users Home Page</title>
		<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>

<h1>Users Home Page</h1>

<form action="/users/new">
<a href="/">Home |</a> 
<a href="/users/new"> Create a New User</a>
</form>

<% for(let i = 0; i < users.length; i++){ %>
	<div>
		<ul class="ul">
		<a href="/users/<%=users[i]._id%>"><%=users[i].name%></a>
		</ul>
		</div>
	<%}%>






</body>
</html>