<!DOCTYPE html>
<html>
<head>
	<title>Users Home Page</title>
		<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>

<h1>Users Home Page</h1>
<form action="/users/new"> 
<button>Create a New User</button>
</form>

<select>
	<%for(let i=0; i <users.length; i++){%>
		<option value="<%=users[i]._id%>"><%=users[i].name%></option>
		<a href="users[i]._id"><%=users[i].name%></a>
	<%}%>
</select>





</body>
</html>