<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<h1>Create a new User</h1>

<a href="/users">Home</a>
</div>
<div>

<form action="/users" method="POST">
New username: <input type="text" name="name"><br>

About Me: <input type="text" name="aboutMe"><br>

<input type="submit" name="" value="Submit">
</form>
</div>

















</body>
</html>