<!DOCTYPE html>
<html>
<head>
	<title>User's Page</title>
</head>
<body>






UserName:<%=user.name%>
Photo(s):
About Me:<textarea rows="4" cols="20"><%=user.aboutMe%></textarea>















</body>
</html>